{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        },
        "modules": "commonjs" // Set modules option to commonjs
      }
    ],
    "@babel/preset-react"
  ]
}
